body {
  background-image: linear-gradient(to bottom, #FFCB9A, #FFE0B3);
  font-family: "Manga Temple", cursive;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial Black", sans-serif;
  text-shadow: 1px 1px #333333;
}

.header {
  background-color: #FF69B4;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 0;
}

.main-content {
  background-color: #FFFFFF;
  padding: 50px;
  text-align: center;
  box-shadow: 1px 1px #333333;
}

.main-content h1 {
  font-size: 42px;
  margin-bottom: 30px;
}

.main-content p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.section {
  background-color: #FFFFFF;
  padding: 50px;
  text-align: center;
  margin-bottom: 50px;
  box-shadow: 1px 1px #333333;
}

.section h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.btn {
  background-color: #FF69B4;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 50px;
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
  display: inline-block;
  box-shadow: 1px 1px #333333;
}

.footer {
  background-color: #FF69B4;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 0;
}